* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(14px, 1vw, 18px);
}

@mixin flex-col($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    width: 100%;
    @include flex-col(1rem);
    align-items: center;
    padding: 1rem;
    
    .view1 {
        max-width: 1600px;
        @include flex-col(1rem);
        // margin-inline: auto;

        .top {
            width: 100%;
            border-radius: 1rem;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .bottom {
            width: 100%;
            background-color: #232323;
            border-radius: 1rem;
            padding: 2rem;
            @include flex-col(5rem);
            
            p {
                font-size: 1.2rem;
                font-weight: 600;
            }

            .text {

                @include flex-col(1rem);

                h1 {
                    text-transform: uppercase;
                    font-size: 2.5rem;
                    font-weight: 100;
                    line-height: 120%;
                    
                }

                p {
                    color: #9e9e9e;
                    line-height: 160%;
                    font-weight: 400;
                }
    
    
                button {
                    padding: .5rem 2rem;
                    font-size: 1rem;
                    background-color: #393939;
                    border: none;
                    border-radius: 20px;
                    width: fit-content;

                    span {
                        font-size: 1.5rem;
                    }
                }
                
                button:active {
                    background-color: #404040;
                }
            }

        }
    }

    .view2 {
        @include flex-col(1rem);
        width: 100%;
        max-width: 1600px;
        // margin-inline: auto;

        .score {
            width: 100%;
            @include flex-col(1.5rem);
            padding: 1rem 0;

            .top, .bottom {
                width: 100%;
                display: flex;
                justify-content: space-between;
                
                div {
                    width: 100%;
                    text-align: center;

                    small {
                        font-size: 1.2rem;
                        color: #9e9e9e;
                    }

                    h1 {
                        font-size: 3rem;
                        font-weight: 100;
                    }
                }

            }
        }
    }
}

@media (min-width: 900px) {
    main {

        .view1 {
            flex-direction: row;

            .bottom {
                justify-content: space-between;
                padding: 3.5rem;

                .text {
                    h1 {
                        font-size: 4rem;
                    }
                    p {
                        width: 80%;
                    }
                }
            }
        }

        .view2 {
            .score {
                flex-direction: row;
                padding: 3rem 0;

                .top, .bottom {
                    div {
                        h1 {
                            font-size: 4.5rem;
                        }
                    }
                }
            }
        }
    }
}